@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.body-signup-pages {
    display: flex;
    flex-direction: column; 
}

.thank-you-page, .sign-up-page {
    height: 100%;
}

.footer {
    flex-shrink: 0;
}

section {
    background-color: rgb(175,157,140);
}

/* logo and menu */

header {
    background-color: rgb(47, 40, 30);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(207,214,229);
}

.logo {
    padding: 10px;
    color: rgb(207, 214, 229);
}

a.active {
    text-decoration: underline 5px;
    text-underline-offset: 10px;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    padding: auto;
    margin-right: 15px;
}

.logo,
.menu {
    line-height: 45px;
}

nav a {
    text-decoration: none;
    color: rgb(207, 214, 229);
    padding: 10px;
}

nav a:hover {
    background-color: rgb(207, 214, 229);
    color: rgb(47, 40, 30);
    padding: 10px;
}

.menu > .top-menu {
    padding: 10px 20px;
}

header div {
    font-size: 1.6rem;
    margin: 10px;
}

/* hero-image and cover text */

.hero-outer {
    height: 85vh;
    width: 100%;
    position: relative;
}

.hero-image {
    background: url("../images/Mount-rushmore-2.jpg") no-repeat center center;
    height: 100%;
}

.hero-text {
    font-size: 130%;
    text-transform: capitalize;
    background-color: rgba(144, 103, 77, 0.7);
    top: 10%;
    right: 5%;
    position: absolute;
    padding: 50px;
    border: 4px solid black;
    color: black;
    border-radius: 10px;
}

/* timeline v2 */

.timeline-header, .president-heading, .gallery-heading {
    color: rgb(207, 214, 229);
    padding: 30px;
    text-align: center;
    background: rgb(47, 40, 30);
    text-transform: capitalize;
    font-size: 1.5rem;
}

.timeline {
    display: flex;
    flex-direction: column;
    padding: 5% 3% 10% 3%;
    text-align: center;
    background-color: rgb(175,157,140);
}

.timeline-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.box-left.empty,
.box-right.empty {
    background-color: rgb(175,157,140);
    border: none;
}

.box-left {
    order: 1;
    padding: 3%;
    background-color: rgb(207,214,229);
    width: 45%;
    border-radius: 50px 0px 50px 50px;
    border: 2px solid;
}

.box-middle {
    order: 2;
    background-image: linear-gradient(#000, #000);
    background-size: 2%;
    background-position: 50% 0;
    background-repeat: repeat-y;
    flex-grow: 1;
    text-align: center;
}

.box-middle>span {
    padding: 16px;
    background: rgb(47, 40, 30);
    border-radius: 40px;
    border: 2px solid;
    color: rgb(207, 214, 229);
    border: 4px solid rgb(84,92,82);
    font-size: 16px;
}

.box-right {
    order: 3;
    padding: 3%;
    background-color: rgb(207,214,229);
    width: 45%;
    border-radius: 0px 50px 50px 50px;
    border: 2px solid;
}

.timeline img, .face-history img {
    max-width: 100%;
    border: 1px solid;
}

.timeline h3, .face-history h3 {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: black;
}

.timeline p, .face-history p {
    color: black;
    font-size: 1.3rem;
}

/* the four presidents */

.the-four-presidents {
    background-color: rgb(175,157,140);
    padding-top: 5%;
}

.president-heading, .gallery-heading {
    margin: 0 5%;
    border-radius: 50px;
    border: 10px solid rgb(84,92,82);
}

.face-history {
    display: flex;
    background: rgb(175,157,140);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}

.faces {
    background: rgb(207,214,229);
    padding: 3%;
    margin: 10px;
    border: 2px solid;
    width: 40%;
    border-radius: 50px;
}

.face-history img {
    width: 80%;
}

/* Video style */

.full-bg {
    background-color: rgb(175,157,140);
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.video-bg {
    width: 100%;
    max-width: 800px;
    margin: 3em auto;
    border: 3px solid rgb(84, 92, 82);
    border-radius: 13px;
}

.video {
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    border: 10px solid orange;
    position: relative;
    border-radius: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Gallery Design */

.gallery.heading {
    padding-top: 50px;
}

.gallery>img {
    margin: 5px;
    border: 3px solid rgb(84, 92, 82);
    width: 33%;
}
.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 60px;
    background-color: rgb(175,157,140);
    height: 100vw;
}

/* bottom nav */

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
    background: rgb(47, 40, 30);
    border: 2px solid black;
    font-size: 24px;
}

/* footer */

footer {
    background-color: rgb(47, 40, 30);
    color: rgb(207,214,229);
    padding-top: 30px;
}
.bottom-nav li {
    text-align: center;
}

footer h2, .icons {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.socials-name {
    text-align: center;
    margin: 30px;
    padding: 10px;
    color: rgb(207,214,229);
}

.socials-name a {
    text-decoration: none;
    color: rgb(207,214,229);
    font-size: x-large;
}

.socials-name:hover {
    background-color: rgb(207,214,229);
}
.socials-name:hover a {
    color: rgb(47, 40, 30);
}

/* sign-up page */

.signup-page,
.thank-you-page {
    background-color: rgb(175,157,140);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.signup-form,
.thank-you {
    background-color: rgb(47, 40, 30);
    flex: 1;
    max-width: 600px;
    border-radius: 10px;
    border: 10px solid rgb(84, 92, 82);
}

.signup-heading,
.thank-heading {
    padding: 15px 0;
}

.signup-heading h2,
.thank-heading h2 {
    font-size: 28px;
    text-align: center;
    color: rgb(207,214,229);
}

.row {
    display: flex;
    flex-direction: row;
}

.user-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

label {
    color: black;
    font-size: 1.3rem;
}

.user-input input {
    font-size: 1.3rem;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

.form-body {
    background: rgb(207,214,229);
    padding: 5px 10px;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.radio-group input {
    height: auto;
    margin-right: 3px;
    cursor: pointer;
}

.radio-group label {
    cursor: pointer;
}

label.tour {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-top: 10px;
}

.form-footer {
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    background: rgb(47, 40, 30);
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(84, 92, 82);
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: yellow;
    border: 2px solid rgb(84, 92, 82) ;
}

button.btn:hover {
    border: orange 2px solid;
    color: black;
    background-color: green;
}

.thank-you-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: auto;
    padding: 20px;
    background: rgb(207,214,229);
    border-radius: 10px;
    width: 90%;
    border: 3px solid rgb(84, 92, 82);
}

/* thank you page */

.thank-you {
    display: flex;
    flex-direction: column;
}

.thank-you-page {
    background-color: rgb(175,157,140);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.thank-you {
    background-color: rgb(47, 40, 30);
    flex: 1;
    max-width: 600px;
    border-radius: 10px;
    border: 10px solid rgb(84, 92, 82);
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.thank-heading {
    padding: 15px 0;
    margin: auto;
    text-align: center;
    font-size: 28px;
    text-align: center;
    color: rgb(207,214,229);
}
    
/* responsive design */

@media screen and (max-width: 950px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .hero-text {
        top: 64%;
    }

    .logo {
        margin-left: 0px;
    }

    .empty {
        display: none;
    }

    .box-middle {
        order: -1;
    }

    .box-left {
        border-radius: 0px 50px 50px 50px;
    }

    .box-left,
    .box-right {
        flex-grow: 9;
        margin-bottom: 3%;
    }

    .timeline {
        align-items: center;
        padding: 10% 3% 10% 3%;
    }

    .face-history {
        flex-direction: column;
        align-content: center;
    }

    .radio-group {
        flex-direction: column;
        align-items: center;
    }

    .row {
        flex-direction: column;
    }

    .faces {
        width: 80%;
    }

    footer {
        height: auto;
    }

    footer .icons {
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center ;
    }

    .menu li {
        margin-right: 0px;
    }

    .timeline-row p, .face-history p {
        padding-left: 5px;
        padding-right: 5px;
    }
    .bottom-nav {
        flex-direction: column;
    }

    .bottom-nav li {
        padding: 10px;
    }

    .gallery {
        height: 100%;
        padding: 10px;
        align-content: center;
    }
    
    .gallery img {
        width: 50%;  
    }

}
