@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* logo and menu */

header {
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    margin-left: 30px;
    font-size: 300%;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}

#menu li {
    display: inline-block;
    padding: auto;
    margin-right: 30px;
}

#logo,
#menu {
    line-height: 60px;
}

/* hero-image and cover text */

.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    background: url("../images/Mount-rushmore-2.jpg") no-repeat center center;
    height: 600px;
    width: 100%;
}

.hero-text {
    font-size: 130%;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 300px;
    height: 100px;
    padding: 0;
    padding-left: 0;
    background-color: rgba(127, 187, 48, 0.7);
    bottom: 3%;
    left: 10%;


    position: absolute;

}

/* timeline */

.timeline {
    width: 100%;
    height: auto;
    background-color: darkkhaki;
    padding: 50px 0;
    display: grid;
    place-items: center;
}

.timeline .heading {
    font-size: 30px;
    font-weight: 300;
    color: rgb(28, 31, 30);
    position: relative;
    text-transform: capitalize;
    margin-bottom: 60px;
}

/* timeline container */

.container {
    width: 60%;
    height: auto;
    position: relative;
}

.container ul {
    list-style-type: none;
}

.container ul li {
    width: 50%;
    height: auto;
    padding: 15px 30px;
    background-color: darksalmon;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 45px;
}

/* TEST timeline with pictures */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
}

.box-area {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.box-date {
    background-image: linear-gradient(#000, #000);
    background-size: 1%;
    background-position: 50% 0;
    background-repeat: repeat-y;
    order: 2;
    text-align: center;
    color: rgb(133, 25, 25);
    font-size: 20px;
    flex-basis: 100px;
    margin-right: 30px;
    margin-left: 30px;
}

.box-date>span {
    font-size: 20px;
    padding: 10px;
    margin: auto;
    background: dimgray;
    border-radius: 15px;
}

.box-text {
    text-align: center;
    padding: 20px;
    color: #fff;
    order: 3;
    width: 80%;
    padding-left: 10px;
    background: deepskyblue;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 3%;
}

.box-right .box-text {
    order: 1;
    padding-right: 10px;
    border-radius: 0 50px 0 50px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
}

.box-right .custom {
    order: 3;
}

.box-text,
.custom {
    width: 40%;
}

.box-image  img {
    max-width: 100%;
    border-radius: 0 50px 0 0;
}

.box-text.box-image {
    background: #000;
    padding: 1%;
    border-radius: 0 50px 0 0;
    margin:0%;
}

.box-text.box-image-right {
    background: #000;
    padding: 1%;
    margin: 0%;
}
.box-image-right img {
    max-width:100%;
}



/* responsive design */



@media screen and (max-width: 950px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #menu {
        line-height: 25px;
        margin-left: 30px;
    }

    #logo {
        margin-left: 0px;
    }

    .box-text {
        order: 2;
        width: 80%;
        margin-right: 3%;
    }
    .box-text.text {
        margin-bottom: 3%
    }

    .box-date {
        order: 1;
        margin-right: 0;
        margin-left: 0;
    }

    .box-right {
        order: 2;
    }

    .custom {
        display: none;
    }

    .box-area {
        justify-content: left;
    }
    .box-text.box-image {
        margin-right: 3%;
    }

}




 /* Navigation bar for index page */

 /* footer */

 footer {
    background: rgb(167, 33, 33);
 }
 .socials {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
 }

 .icons i {
    font-size: 300%;
    padding: 30px;
    padding-bottom: 10px;
 }

 .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
 }


 #socials-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

