@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

/* logo and menu */

header {
    background-color: rgb(47,40,30);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    padding: 10px;
    color: rgb(207,214,229);
}

a.active {
    text-decoration: underline 5px;
    text-underline-offset: 10px;
}

#menu {
    list-style-type: none;
}

#menu li {
    display: inline-block;
    padding: auto;
    margin-right: 30px;
}

#logo,
#menu {
    line-height: 45px;
}

nav a {
    text-decoration: none;
    color: rgb(207,214,229);
    padding: 10px;
}

nav a:hover {
    background-color: rgb(207,214,229);
    color: rgb(47,40,30);
    padding: 10px;
}

header div {
    font-size: 1.6rem;
    margin: 10px;
}

/* hero-image and cover text */

.hero-outer {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    background: url("../images/Mount-rushmore-2.jpg") no-repeat center center;
    height: 80vh;
    width: 100%;
}

.hero-text {
    font-size: 130%;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 300px;
    height: 100px;
    padding: 0;
    padding-left: 0;
    background-color: rgba(127, 187, 48, 0.7);
    bottom: 3%;
    left: 10%;
    position: absolute;
}

/* timeline */

.timeline {
    width: 100%;
    height: auto;
    background-color: darkkhaki;
    padding: 50px 0;
    display: flex;
    place-items: center;
    flex-direction: column;
}

.timeline .heading {
    font-size: 30px;
    font-weight: 300;
    color: rgb(28, 31, 30);
    position: relative;
    text-transform: capitalize;
    margin-bottom: 60px;
}

/* timeline container */

.container {
    width: 60%;
    height: auto;
    position: relative;
}

.container ul {
    list-style-type: none;
}

.container ul li {
    width: 50%;
    height: auto;
    padding: 15px 30px;
    background-color: darksalmon;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 45px;
}

/* TEST timeline with pictures */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    margin: 50px auto;
}

.box-area {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.box-date {
    background-image: linear-gradient(#000, #000);
    background-size: 1%;
    background-position: 50% 0;
    background-repeat: repeat-y;
    order: 2;
    text-align: center;
    color: rgb(133, 25, 25);
    font-size: 20px;
    flex-basis: 100px;
    margin-right: 3%;
    margin-left: 3%;
}

.box-date>span {
    font-size: 1em;
    padding: 10px;
    margin: auto;
    background: dimgray;
    border-radius: 15px;
}

.box-text {
    text-align: center;
    padding: 20px;
    color: #fff;
    order: 3;
    width: 80%;
    padding-left: 10px;
    background: deepskyblue;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 3%;
}

.box-right .box-text {
    order: 1;
    padding-right: 10px;
    border-radius: 0 50px 0 50px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
}

.box-right .custom {
    order: 3;
}

.box-text,
.custom {
    width: 40%;
}

.box-image img {
    max-width: 100%;
    border-radius: 0 50px 0 0;
}

.box-text.box-image {
    background: #000;
    border-radius: 0 50px 0 0;
    margin: 0%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.box-text.box-image-right {
    background: #000;
    margin: 0%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.box-image-right img {
    max-width: 100%;
}

/* Face History */

.face-history {
    display: flex;
    background: lightseagreen;
    flex-direction: row;
    flex-wrap: wrap;
}

.faces {
    flex: 1;
    background: lightslategray;
    padding: 30px;
    font-size: 12px;
    margin: 30px;
    margin: 10px;
    border: 5px solid;
}

.face-history img {
    width: 100%;
}

/* Video style */

.full-bg {
    background: red;
    display: flex;
    justify-content: center;
}

.video-bg {
    width: 100%;
    max-width: 800px;
    margin: 3em auto;
    border: 3px solid green;
}

.video {
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    border: 3px solid orange;
    position: relative;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




/* Gallery Design */

.gallery>img {
    max-width: 400px;
    height: auto;
    object-fit: contain;
    height: 400px;
    padding: 5px;
    border: 1px solid navajowhite;
    margin: 5px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: black;
    padding: 60px;
}

/* responsive design */








/* Navigation bar for index page */

/* footer */

footer {
    background: rgb(50, 145, 235);
}

.socials {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.icons i {
    font-size: 300%;
    padding: 30px;
    padding-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}


#socials-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* sign-up page */

#signup-page, #thank-you-page {
    height: auto;
    background: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow: scroll; */
}
.signup-form, .thank-you {
    background-color: lightgrey;
    flex: 1;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid rgb(77, 26, 26);
    margin-top: 50px;
    margin-bottom: 50px;
}

.signup-heading, .thank-heading{
    padding: 15px 0;
    border-bottom: 1px solid #d41212;
    
}

.signup-heading h2, .thank-heading h2 {
    font-size: 28px;
    text-align: center;
    color: rgb(37, 30, 105);
}

.row {
    display: flex;
    flex-direction: row;
}

.user-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

label {
    color: #475e58;
    font-size: 17px;
    font-weight: 500;
}

.user-input input {
    font-size: 18px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

.form-body {
    background: white;
    padding: 5px 10px;
}

.radio-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.radio-group input {
    height: auto;
    margin-right: 3px;
    cursor: pointer;
}

.radio-group label {
    color: #666;
    cursor: pointer;
}

label.tour {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-top: 10px;
}

.form-footer {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    border-top: 1px solid #d41212;
    border-radius: 0px 0px 10px 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #1bba93;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    color: #bcf5e7;
    cursor: pointer;
    margin: 10px;
    width: 100%;
}

.thank-you-text {
    display: flex;
    justify-content: center;
}



.thank-you {
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 950px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }

    #menu {
        line-height: 25px;
        margin-left: 30px;
    }

    #logo {
        margin-left: 0px;
    }

    .box-text {
        order: 2;
        width: 80%;
        margin-right: 0%;
    }

    .box-text.text {
        margin-bottom: 3%
    }

    .box-date {
        order: 1;
        margin-right: 0;
        margin-left: 0;
    }

    .box-right {
        order: 2;
    }

    .custom {
        display: none;
    }

    .box-area {
        justify-content: left;
        order: 5;
    }

    .box-text.box-image {
        margin-right: 0px;
    }

    .box-text.box-image-right {
        margin-right: 0px;
    }

    .box-area.box-right.box-text {
        margin-right: 0px;
    }

    .face-history {
        flex-direction: column;
    }
    .row {
        flex-direction: column;
    }
    .radio-group {
        flex-direction: column;
        align-items: center;
    }
    .faces {
        flex: 1;
    background: lightslategray;
    padding: 30px;
    font-size: 12px;
    margin: 30px;
    margin-right: 10%;
    margin-left: 10%;
    border: 5px solid;
    }
}